{{ if or (eq "de" .language.Lang) (eq "fr" .language.Lang) }}
  {{ if eq "long" .format }}
    {{ .date.Format "02. January 2006" }}
  {{ else }}
    {{ .date.Format "02. Jan 2006" }}
  {{ end }}
{{ else if or (eq "chs" .language.Lang) (eq "cht" .language.Lang) }}
  {{ if eq "long" .format }}
    {{ .date.Format "2006年01月02日" }}
  {{ else }}
    {{ .date.Format "2006-01-02" }}
  {{ end }}
{{ else }}
  {{ if eq "long" .format }}
    {{ .date.Format "January 2, 2006" }}
  {{ else }}
    {{ .date.Format "Jan 2, 2006" }}
  {{ end }}
{{ end }}